/* filepath: c:\Users\Bimlesh\Desktop\Hackathon_AI\radg-digital-dynamos-ui\src\app\app.component.scss */
h1 {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    margin-top: 20px;
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  app-file-upload {
    display: block;
    margin: 20px 0;
  }